version: '3.8'
services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:Zz6H4AYVV0npmG05In6v@database-1.ci5wuem2chdf.us-east-1.rds.amazonaws.com:5432/postgres
      - STATIC_BEARER_TOKEN=${STATIC_BEARER_TOKEN}

volumes:
  postgres_data:
