packages:
  yum:
    postgresql-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    STATIC_BEARER_TOKEN: "secret-token"
    PYTHONUNBUFFERED: "1"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
